<div class="container">
  <div class="row gy-5">
    <div class="col-lg-4">
      <div class="footer-content">
        <a href="index.html" class="logo d-flex align-items-center mb-4">
          <span class="sitename">Virtual Technologies</span>
        </a>
        <p class="mb-4">
          Feel free to get in touch anytime. Suscribe to our newsletter for updates, tips and more. We'll try and get
          back to you in the shortest possible time.
        </p>

        <div class="newsletter-form">
          <h5>Stay Updated</h5>
          <form id="newsletter_frm" action="forms/newsletter.php" method="post" class="form">
            <div class="input-group">
              <input type="email" name="email" class="form-control" placeholder="Enter your email" required="" />
              <button type="submit" class="btn-subscribe" title="Suscribe">
                <i class="bi bi-send"></i>
              </button>
            </div>
            <div class="loading hide_ele">Loading</div>
            <div class="error-message hide_ele"></div>
            <div class="sent-message hide_ele">Thank you for subscribing!</div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-6">
      <div class="footer-links">
        <h4>Solutions</h4>
        <ul>
          <li>
            <a href="javascript:;"><i class="bi bi-chevron-right"></i>Data Analytics & Digital Strategy</a>
          </li>
          <li>
            <a href="javascript:;"><i class="bi bi-chevron-right"></i> Cloud & Hosting Solutions</a>
          </li>
          <li>
            <a href="javascript:;"><i class="bi bi-chevron-right"></i> AI Solutions</a>
          </li>
          <li>
            <a href="javascript:;"><i class="bi bi-chevron-right"></i> Cybersecurity</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="footer-contact">
        <h4>Get in Touch</h4>
        <div class="contact-item">
          <div class="contact-icon">
            <i class="bi bi-geo-alt"></i>
          </div>
          <div class="contact-info">
            <p>
              2, Majok Lane, Off Oye Busari Street<br />Abiose, Ido, Ibadan<br />Nigeria
            </p>
          </div>
        </div>

        <div class="contact-item">
          <div class="contact-icon">
            <i class="bi bi-telephone"></i>
          </div>
          <div class="contact-info">
            <p>+234 (813) 625-6950</p>
          </div>
        </div>

        <div class="contact-item">
          <div class="contact-icon">
            <i class="bi bi-envelope"></i>
          </div>
          <div class="contact-info">
            <p>contact@vt.com</p>
          </div>
        </div>

        <div class="social-links">
          <a href="#" title="FaceBook"><i class="bi bi-facebook"></i></a>
          <a href="#" title="Twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" title="LinkedIn><i class=" bi bi-linkedin"></i></a>
          <a href="#" title="YouTube"><i class="bi bi-youtube"></i></a>
          <a href="#" title="GitHub"><i class="bi bi-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-bottom">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="copyright">
          <p>
            © <span>Copyright</span>
            <strong class="px-1 sitename">Virtual Technologies</strong>
            <span>All Rights Reserved</span>
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="footer-bottom-links">
          <a href="javascript:;">Privacy Policy</a>
          <a href="javascript:;">Terms of Service</a>
          <a href="javascript:;">Cookie Policy</a>
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          Designed by
          <a href="https://bootstrapmade.com/">BootstrapMade</a> |
          <a href="https://bootstrapmade.com/tools/">DevTools</a>
        </div>
      </div>
    </div>
  </div>
</div>