<div class="container position-relative d-flex align-items-center justify-content-between">
    <a href="./index.html" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="assets/img/logo.png" alt="">
        <h1 id="sitename" name="sitename" class="logo sitename">
            VirtualTechnologies
            </h5>
    </a>

    <nav id="navmenu"  name="navmenu" class="navmenu"></nav>
    <!-- <i class="mobile-nav-toggle d-xl-none bi bi-list"></i> -->

    <div class="header-social-links">
        <a href="#" class="twitter" title="Twitter"><i class="bi bi-twitter-x"></i></a>
        <a href="#" class="facebook" title="FaceBook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram" title="Instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin" title="LinkedIn"><i class="bi bi-linkedin"></i></a>
    </div>
</div>
<script>

        load_menu();
          function load_menu() {
        const tbl_cont = $("#navmenu");
        const posturl = "./components/root_nav.html";
        tbl_cont.load(posturl);
        // return;
    }  
    

</script>