<ul>
    <li>
        <a href="index.html#hero" class="active">Home</a>
    </li>
    <li><a href="index.html#about">About</a></li>
    <!-- <li><a href="./services.html">Services</a></li> -->
    <!-- <li><a href="portfolio.html">Portfolio</a></li> -->
    <!-- <li><a href="index.html#team">Team</a></li> -->
    <li class="dropdown">
        <a href="./services.html"><span>Services</span>
            <i class="bi bi-chevron-down toggle-dropdown"></i></a>
        <ul>
            <li><a href="services_bsi.html">Brand Strategy & Identity</a></li>
            <li><a href="#">Web Design & Development</a></li>
            <li><a href="#">Digital Marketing Solutions</a></li>
            <li><a href="#">Social Media Management</a></li>
        </ul>
    </li>
    <li><a href="#contact">Contact</a></li>
</ul>
<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>