<div class="quote-icon">
    <i class="bi bi-quote"></i>
</div>
<blockquote>
    "I'm so pleased to be working with VirtualTech, It has been a learning experience as well as paying. A good place to
    get
    job experience and develop your skillset and mindset for the future."
</blockquote>
<div class="client-profile">
    <img src="../../assets/img/person/person-m-7.webp" alt="Michael Reynolds" class="client-avatar">
    <div class="client-details">
        <strong>Peters, <span>Lanre</span></strong>
        <span>Client Manager</span>
    </div>
</div>