<h4>Workflow Stages</h4>
<div class="timeline-items">
    <div class="timeline-item">
        <div class="timeline-marker">
            <span>1</span>
        </div>
        <div class="timeline-content">
            <h6>Discovery Phase</h6>
            <p>We define your needs, then define the project goals.</p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-marker">
            <span>2</span>
        </div>
        <div class="timeline-content">
            <h6>Execution Stage</h6>
            <p>We put the project plan in action. Turning strategies into deliverables.</p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-marker">
            <span>3</span>
        </div>
        <div class="timeline-content">
            <h6>Refinement Cycle</h6>
            <p>We analyse work done, review, clarify ammendments/additions and start work cycles.</p>
        </div>
    </div>
    <div class="timeline-item">
        <div class="timeline-marker">
            <span>4</span>
        </div>
        <div class="timeline-content">
            <h6>Delivery &amp; Review</h6>
            <p>Leave us to complete milestones, sta on cope and your budget.</p>
        </div>
    </div>
</div>